In [2]:
import pandas as pd 
data = pd.read_csv('datafiles/funabashi.csv')
data.head(10)

,date,arg_temperature,max_temperature,min_temperature,avg_wind,niboshi,agodashi,gyoton,syoturu,bushijikomi,...,bamboo_shoot,shasyu,seaweed,beer,orange,colla,week_end,corana_case,customers,sale
0,2021/1/6,4.7,6.5,3.4,2.1,23.0,23.0,39.0,26.0,6.0,...,17.0,8.0,5.0,0.0,0.0,0.0,NaN,NaN,120.0,96900.0
1,2021/1/7,6.2,11.6,2.2,3.2,33.0,18.0,36.0,8.0,8.0,...,13.0,6.0,7.0,0.0,1.0,1.0,NaN,NaN,113.0,93600.0
2,2021/1/8,2.0,6.1,-2.2,1.4,26.0,15.0,30.0,8.0,5.0,...,11.0,5.0,1.0,1.0,1.0,0.0,NaN,NaN,101.0,80100.0
3,2021/1/9,1.2,7.6,-4.6,1.0,29.0,36.0,36.0,18.0,8.0,...,14.0,16.0,5.0,1.0,0.0,0.0,NaN,NaN,134.0,116900.0
4,2021/1/10,1.3,7.3,-4.1,1.1,38.0,14.0,42.0,14.0,4.0,...,10.0,8.0,6.0,0.0,0.0,0.0,NaN,NaN,121.0,103050.0
5,2021/1/11,1.1,5.6,-2.7,1.2,35.0,13.0,32.0,16.0,6.0,...,7.0,6.0,2.0,1.0,0.0,2.0,NaN,NaN,110.0,89550.0
6,2021/1/12,2.7,4.7,0.7,1.6,29.0,13.0,34.0,9.0,1.0,...,5.0,10.0,2.0,0.0,0.0,0.0,NaN,NaN,94.0,78450.0
7,2021/1/13,4.8,11.7,-1.8,0.9,22.0,22.0,22.0,19.0,6.0,...,7.0,3.0,4.0,0.0,1.0,2.0,NaN,NaN,105.0,81700.0
8,2021/1/14,6.5,13.3,0.5,1.2,26.0,18.0,13.0,12.0,8.0,...,8.0,5.0,2.0,0.0,0.0,0.0,NaN,NaN,84.0,65600.0
9,2021/1/15,5.4,6.7,3.1,1.5,22.0,20.0,32.0,9.0,4.0,...,10.0,10.0,6.0,3.0,1.0,0.0,NaN,NaN,101.0,83200.0

In [3]:
data.isnull()

,date,arg_temperature,max_temperature,min_temperature,avg_wind,niboshi,agodashi,gyoton,syoturu,bushijikomi,...,bamboo_shoot,shasyu,seaweed,beer,orange,colla,week_end,corana_case,customers,sale
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
337,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
338,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
339,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
340,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [6]:
# check NULL
data.isnull().any(axis = 0)

date               False
arg_temperature    False
max_temperature    False
min_temperature    False
avg_wind           False
niboshi             True
agodashi            True
gyoton              True
syoturu             True
bushijikomi         True
shio                True
misho               True
goma                True
large_s             True
special_s           True
egg                 True
bamboo_shoot        True
shasyu              True
seaweed             True
beer                True
orange              True
colla               True
week_end            True
corana_case         True
customers           True
sale                True
dtype: bool

In [7]:

a =data.isnull()
a.sum()

date                 0
arg_temperature      0
max_temperature      0
min_temperature      0
avg_wind             0
niboshi             13
agodashi            13
gyoton              13
syoturu             13
bushijikomi         13
shio                13
misho               98
goma               195
large_s             13
special_s           13
egg                 13
bamboo_shoot        13
shasyu              13
seaweed             13
beer                13
orange              13
colla               13
week_end           341
corana_case        341
customers           13
sale                13
dtype: int64

In [8]:
  #平均値を計算
    data.mean()

arg_temperature       17.037537
max_temperature       21.584751
min_temperature       13.067742
avg_wind               1.822287
niboshi               32.298780
agodashi              19.344512
gyoton                23.551829
syoturu                8.731707
bushijikomi            6.661585
shio                   5.911585
misho                  8.041152
goma                   9.910959
large_s               34.628049
special_s             11.935976
egg                   20.457317
bamboo_shoot           9.301829
shasyu                 7.064024
seaweed                3.082317
beer                   0.695122
orange                 0.201220
colla                  0.692073
week_end                    NaN
corana_case                 NaN
customers            102.298780
sale               83494.207317
dtype: float64

In [9]:
#　中央値の計算
data.median()

arg_temperature       17.2
max_temperature       21.4
min_temperature       14.0
avg_wind               1.7
niboshi               32.0
agodashi              19.0
gyoton                23.0
syoturu                8.0
bushijikomi            6.0
shio                   6.0
misho                  7.0
goma                   8.0
large_s               34.5
special_s             12.0
egg                   20.0
bamboo_shoot           9.0
shasyu                 7.0
seaweed                3.0
beer                   0.0
orange                 0.0
colla                  1.0
week_end               NaN
corana_case            NaN
customers            102.0
sale               81875.0
dtype: float64

In [10]:
#min 
data.min()

date               2021/1/10
arg_temperature          1.1
max_temperature          4.7
min_temperature         -4.6
avg_wind                 0.8
niboshi                  8.0
agodashi                 5.0
gyoton                   2.0
syoturu                  1.0
bushijikomi              1.0
shio                     0.0
misho                    1.0
goma                     2.0
large_s                 17.0
special_s                0.0
egg                      5.0
bamboo_shoot             0.0
shasyu                   1.0
seaweed                  0.0
beer                     0.0
orange                   0.0
colla                    0.0
week_end                 NaN
corana_case              NaN
customers               50.0
sale                 40350.0
dtype: object

In [11]:
#max
data.max()

date               2021/9/9
arg_temperature        30.3
max_temperature        36.0
min_temperature        27.2
avg_wind                4.2
niboshi                60.0
agodashi               37.0
gyoton                 47.0
syoturu                39.0
bushijikomi            18.0
shio                   19.0
misho                  29.0
goma                   77.0
large_s                61.0
special_s              26.0
egg                    38.0
bamboo_shoot           22.0
shasyu                 18.0
seaweed                10.0
beer                    9.0
orange                  9.0
colla                   4.0
week_end                NaN
corana_case             NaN
customers             163.0
sale               140500.0
dtype: object

In [12]:
#分散
data.var()

arg_temperature    5.201500e+01
max_temperature    5.187059e+01
min_temperature    6.228831e+01
avg_wind           3.847371e-01
niboshi            8.341504e+01
agodashi           3.722957e+01
gyoton             6.134287e+01
syoturu            1.973208e+01
bushijikomi        9.612954e+00
shio               8.998275e+00
misho              1.865119e+01
goma               6.314374e+01
large_s            5.767163e+01
special_s          1.676347e+01
egg                4.224894e+01
bamboo_shoot       1.358752e+01
shasyu             9.313931e+00
seaweed            3.947332e+00
beer               1.448050e+00
orange             4.119863e-01
colla              6.663590e-01
week_end                    NaN
corana_case                 NaN
customers          3.953967e+02
sale               3.199934e+08
dtype: float64

In [13]:
#標準偏差
data.std()

arg_temperature        7.212142
max_temperature        7.202124
min_temperature        7.892294
avg_wind               0.620272
niboshi                9.133184
agodashi               6.101604
gyoton                 7.832169
syoturu                4.442081
bushijikomi            3.100476
shio                   2.999713
misho                  4.318703
goma                   7.946304
large_s                7.594184
special_s              4.094322
egg                    6.499918
bamboo_shoot           3.686125
shasyu                 3.051873
seaweed                1.986789
beer                   1.203349
orange                 0.641862
colla                  0.816308
week_end                    NaN
corana_case                 NaN
customers             19.884584
sale               17888.359104
dtype: float64

In [14]:
#頻繁値
data.mode()

,date,arg_temperature,max_temperature,min_temperature,avg_wind,niboshi,agodashi,gyoton,syoturu,bushijikomi,...,bamboo_shoot,shasyu,seaweed,beer,orange,colla,week_end,corana_case,customers,sale
0,2021/1/10,21.8,19.6,6.9,1.6,26.0,20.0,19.0,6.0,6.0,...,10.0,6.0,2.0,0.0,0.0,0.0,NaN,NaN,91.0,98450.0
1,2021/1/11,NaN,NaN,17.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021/1/12,NaN,NaN,18.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021/1/13,NaN,NaN,20.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021/1/14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,2021/9/5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,2021/9/6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,2021/9/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,2021/9/8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,2021/9/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#各列の平均値を計算してcolmeanに代入する
colmean = data.mean()
#欠損値に平均値を入れる
data2 = data.fillna(colmean)
#欠損値を埋められたか確認する
data2.isnull().any(axis = 0)

date               False
arg_temperature    False
max_temperature    False
min_temperature    False
avg_wind           False
niboshi            False
agodashi           False
gyoton             False
syoturu            False
bushijikomi        False
shio               False
misho              False
goma               False
large_s            False
special_s          False
egg                False
bamboo_shoot       False
shasyu             False
seaweed            False
beer               False
orange             False
colla              False
week_end            True
corana_case         True
customers          False
sale               False
dtype: bool

In [20]:
# delete col week_end and corona_case because null
data2.dropna(how = 'all', axis =1)

,date,arg_temperature,max_temperature,min_temperature,avg_wind,niboshi,agodashi,gyoton,syoturu,bushijikomi,...,special_s,egg,bamboo_shoot,shasyu,seaweed,beer,orange,colla,customers,sale
0,2021/1/6,4.7,6.5,3.4,2.1,23.00000,23.000000,39.000000,26.000000,6.000000,...,20.000000,30.000000,17.000000,8.000000,5.000000,0.000000,0.00000,0.000000,120.00000,96900.000000
1,2021/1/7,6.2,11.6,2.2,3.2,33.00000,18.000000,36.000000,8.000000,8.000000,...,16.000000,23.000000,13.000000,6.000000,7.000000,0.000000,1.00000,1.000000,113.00000,93600.000000
2,2021/1/8,2.0,6.1,-2.2,1.4,26.00000,15.000000,30.000000,8.000000,5.000000,...,10.000000,24.000000,11.000000,5.000000,1.000000,1.000000,1.00000,0.000000,101.00000,80100.000000
3,2021/1/9,1.2,7.6,-4.6,1.0,29.00000,36.000000,36.000000,18.000000,8.000000,...,14.000000,36.000000,14.000000,16.000000,5.000000,1.000000,0.00000,0.000000,134.00000,116900.000000
4,2021/1/10,1.3,7.3,-4.1,1.1,38.00000,14.000000,42.000000,14.000000,4.000000,...,15.000000,33.000000,10.000000,8.000000,6.000000,0.000000,0.00000,0.000000,121.00000,103050.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,2021/12/8,9.2,10.4,8.3,2.9,32.29878,19.344512,23.551829,8.731707,6.661585,...,11.935976,20.457317,9.301829,7.064024,3.082317,0.695122,0.20122,0.692073,102.29878,83494.207317
337,2021/12/9,9.7,13.0,7.1,2.4,32.29878,19.344512,23.551829,8.731707,6.661585,...,11.935976,20.457317,9.301829,7.064024,3.082317,0.695122,0.20122,0.692073,102.29878,83494.207317
338,2021/12/10,8.0,11.9,4.5,1.4,32.29878,19.344512,23.551829,8.731707,6.661585,...,11.935976,20.457317,9.301829,7.064024,3.082317,0.695122,0.20122,0.692073,102.29878,83494.207317
339,2021/12/11,8.1,13.9,2.1,1.0,32.29878,19.344512,23.551829,8.731707,6.661585,...,11.935976,20.457317,9.301829,7.064024,3.082317,0.695122,0.20122,0.692073,102.29878,83494.207317
340,2021/12/12,11.3,16.9,6.0,1.3,32.29878,19.344512,23.551829,8.731707,6.661585,...,11.935976,20.457317,9.301829,7.064024,3.082317,0.695122,0.20122,0.692073,102.29878,83494.207317

In [22]:
#null の確認
data2.isnull().sum()

date                 0
arg_temperature      0
max_temperature      0
min_temperature      0
avg_wind             0
niboshi              0
agodashi             0
gyoton               0
syoturu              0
bushijikomi          0
shio                 0
misho                0
goma                 0
large_s              0
special_s            0
egg                  0
bamboo_shoot         0
shasyu               0
seaweed              0
beer                 0
orange               0
colla                0
week_end           341
corana_case        341
customers            0
sale                 0
dtype: int64

In [23]:
data2.head(10)

,date,arg_temperature,max_temperature,min_temperature,avg_wind,niboshi,agodashi,gyoton,syoturu,bushijikomi,...,bamboo_shoot,shasyu,seaweed,beer,orange,colla,week_end,corana_case,customers,sale
0,2021/1/6,4.7,6.5,3.4,2.1,23.0,23.0,39.0,26.0,6.0,...,17.0,8.0,5.0,0.0,0.0,0.0,NaN,NaN,120.0,96900.0
1,2021/1/7,6.2,11.6,2.2,3.2,33.0,18.0,36.0,8.0,8.0,...,13.0,6.0,7.0,0.0,1.0,1.0,NaN,NaN,113.0,93600.0
2,2021/1/8,2.0,6.1,-2.2,1.4,26.0,15.0,30.0,8.0,5.0,...,11.0,5.0,1.0,1.0,1.0,0.0,NaN,NaN,101.0,80100.0
3,2021/1/9,1.2,7.6,-4.6,1.0,29.0,36.0,36.0,18.0,8.0,...,14.0,16.0,5.0,1.0,0.0,0.0,NaN,NaN,134.0,116900.0
4,2021/1/10,1.3,7.3,-4.1,1.1,38.0,14.0,42.0,14.0,4.0,...,10.0,8.0,6.0,0.0,0.0,0.0,NaN,NaN,121.0,103050.0
5,2021/1/11,1.1,5.6,-2.7,1.2,35.0,13.0,32.0,16.0,6.0,...,7.0,6.0,2.0,1.0,0.0,2.0,NaN,NaN,110.0,89550.0
6,2021/1/12,2.7,4.7,0.7,1.6,29.0,13.0,34.0,9.0,1.0,...,5.0,10.0,2.0,0.0,0.0,0.0,NaN,NaN,94.0,78450.0
7,2021/1/13,4.8,11.7,-1.8,0.9,22.0,22.0,22.0,19.0,6.0,...,7.0,3.0,4.0,0.0,1.0,2.0,NaN,NaN,105.0,81700.0
8,2021/1/14,6.5,13.3,0.5,1.2,26.0,18.0,13.0,12.0,8.0,...,8.0,5.0,2.0,0.0,0.0,0.0,NaN,NaN,84.0,65600.0
9,2021/1/15,5.4,6.7,3.1,1.5,22.0,20.0,32.0,9.0,4.0,...,10.0,10.0,6.0,3.0,1.0,0.0,NaN,NaN,101.0,83200.0